h1{
    text-align: center;
}
p{
    text-align: center;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
h2{
    text-align: center;
}

ul {
    margin: 0 20rem;
}

li {
    padding: 0.3rem 0 ;
    font-size: 18px;
    line-height: 1.8rem;
}
h3{
    text-align:center;
}

span {
    font-weight: 900;
}
p{ font-size: 18px ;

}
div {
    margin: 0 23rem;
    font-style: italic;
}